.book-card {
    display: flex;
    flex-direction: column;
    height: 450px;
    background-color: #013440;
    border-radius: 8px;
    padding: 16px;
    hr {
        border: 1px solid #80ffff;
    }
    .title {
        height: auto;
        min-height: 80px;
    }
    .img-wrapper {
        display: flex;
        width: 100%;
        justify-content: center;
        img{
            width: 80px;
            height: 100px;
            object-fit: cover;
            object-position: center;
            margin: 8px 0;
        }
    }
    .price-like {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 8px 0;
        .price {
            color: #ff8080;
            font-weight: bold;
            font-size: 2rem;
        }

        .likes {
            display: flex;
            align-items: center;
            img{
                vertical-align: center;
                width: 24px;
                height: 24px;
                margin-left: 8px;
                cursor: pointer;
            }
            img:hover {
                content: url(../assets/icons/heart_full.svg);
            }
        }
        
        .liked {
            img {
                content: url(../assets/icons/heart_full.svg);
            }
        }

    }
    .key, .user {
        width: 33%;
    }
    .value, .message {
        width: 66%;
    }
    .comment-wrapper {
        padding: 16px 0;
        overflow-y: scroll;
        h3 {
            margin-bottom: 8px;
        }
        tr {
            vertical-align: top;
        }
        form {
            margin-top: 16px;
            input[type=text] {
                width: 80%;
                background: transparent;
                outline: none;
                border: none;
                border-bottom: 1px solid #c0ffff;
                padding: 4px 8px;
                color: #c0ffff;
                size: 2rem;
                font: 1.6rem OpenSans;
            }
            input[type=text]::placeholder {
                color: #c0ffff;
            }
            input[type=submit] {
                margin-left: 8px;
                background: #c0ffff;
                color: #031a21;
                border: none;
                border-radius: 50%;
                width: 24px;
                height: 24px;
                cursor: pointer;
            }
            .errmsg {
                height: 1.6rem;
                width: 100%;
                color: red;
                margin-top: 4px;
                font-weight: bold;
            }
        }
    }

    .comment-wrapper::-webkit-scrollbar {
        width: 8px;
    }

    .comment-wrapper::-webkit-scrollbar-track{
        background: #c0ffff;
        border-radius: 8px;
    }
}